<div class="flex flex-col h-screen bg-gray-100">
    <!-- Auth Card Container -->
    <div class="grid place-items-center mx-2 my-20 sm:my-auto">
        <!-- Auth Card -->
        <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 
            px-6 py-10 sm:px-10 sm:py-6 
            bg-white rounded-lg shadow-md lg:shadow-lg">
            <div *ngIf="errorMessage" class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4" role="alert">
                <p class="font-bold">Error</p>
                <p>{{ errorMessage }}</p>
              </div>


            <!-- Card Title -->
            <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                Login
            </h2>

            <form class="mt-10" [formGroup]="userForm" (ngSubmit)="onSubmitLogin()">
                <!-- Email Input -->
                <label for="address" class="block text-s font-semibold text-gray-600">BTC2 Address*</label>
                <input id="address" type="text" formControlName="address" placeholder="19EDn92bd5hAPvWRe6VYS7LJLYtbhGtjXv" autocomplete="email" class="block w-full py-3 px-1 mt-2 
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200" required="">
                <span class="text-red-700" *ngIf="userForm.get('address').hasError('required') && userForm.get('address').touched">Address is required</span>


                <!-- Password Input -->
                <label for="password" class="block mt-2 text-s font-semibold text-gray-600">Password*</label>
                <input id="password" type="password" formControlName="password" placeholder="password" autocomplete="current-password" class="block w-full py-3 px-1 mt-2 mb-4
                    text-gray-800 appearance-none 
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200" required="">
                <span class="text-red-700" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">Password is required</span>

                <!-- Auth Buttton -->
                <button type="submit" class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none">
                    Login
                </button>

                <!-- Another Auth Routes -->
                <div class="sm:flex sm:flex-wrap mt-8 sm:mb-4 text-sm text-center">
                    <a href="/register" class="flex-2 underline">
                        Create an Account
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>