<div class="bg-white rounded-lg shadow-md lg:shadow-lg">
  <ul class="divide-y divide-gray-300 overflow-x-auto w-full border-b-1 ">
    <li class="py-3 sm:py-4" *ngFor="let transaction of getPaginatedData()">
      <div class="flex items-center space-x-4">
        <div class="flex-shrink-0">
          <img class="w-8 h-8 rounded-full" src="{{getAvatar(transaction.sender)}}">

        </div>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-gray-900 truncate">
            {{transaction.sender}}
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            {{transaction.datetime}}
          </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-green-600"
             [ngClass]="{ 'text-green-600': +transaction.amount >= 0,'text-rose-700': +transaction.amount  <= 0}">
          {{transaction.amount}}
        </div>
      </div>
    </li>
  </ul>
</div>
<nav aria-label="Page navigation" class="text-center">
  <ul class="inline-flex space-x-2">
    <li *ngFor="let page of pages" [class.bg-indigo-300]="currentPage === page" class="rounded-full">
      <button class="w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
              (click)="goToPage(page)">{{ page }}</button>
    </li>
  </ul>
</nav>
