<div class="flex justify-between items-center mb-4">
  <h3 class="text-md font-bold leading-none text-gray-600">Latest Transaction</h3>
  <a href="/transaction" class="text-sm font-medium text-blue-600 hover:underline">
      View Details
  </a>
</div>
<ul role="list" class="divide-y divide-gray-400" *ngIf="transactions">
  <li class="py-3 sm:py-4" *ngFor="let transaction of transactions">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-8 h-8 rounded-full" src="{{getAvatar(transaction.sender)}}">

          </div>
          <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate">
                  {{transaction.sender}}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{transaction.datetime}}
              </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900">
            {{transaction.amount}}
          </div>
      </div>
  </li>
</ul>
